<div class="stat">
  <div class="stat-header">
    Статистика за день
  </div>
  <div class="stat-body">
    <span><mat-icon>mode_standby</mat-icon> Суточная норма: {{target | number: '0.0-0'}}кКал.</span>
    <span><mat-icon>restaurant</mat-icon> Съедено: {{dailyCount | number: '0.0-0'}}кКал.</span>
    <span><mat-icon>fitness_center</mat-icon> Сожжено: {{dailyBurn | number: '0.0-0'}}кКал.</span>
  </div>
</div>
<div style="height: 1.5rem"></div>
<div class="stat">
  <div class="stat-header">
    Статистика за все время
  </div>
  <div class="stat-body">
    <span><mat-icon>restaurant</mat-icon>Съедено: {{allTimeCount | number: '0.0-0'}}кКал.</span>
    <span><mat-icon>fitness_center</mat-icon>Сожжено: {{allTimeBurn | number: '0.0-0'}}кКал.</span>
  </div>
</div>
