<div class="stat">
  <div class="stat-header">
    Статистика за день
  </div>
  <div class="stat-body">
    <span><mat-icon>mode_standby</mat-icon> Суточная норма: {{target}}кКал.</span>
    <span><mat-icon>restaurant</mat-icon> Съедено: {{dailyCount}}кКал.</span>
    <span><mat-icon>fitness_center</mat-icon> Сожжено: {{dailyBurn}}кКал.</span>
  </div>
</div>
<div style="height: 1.5rem"></div>
<div class="stat">
  <div class="stat-header">
    Статистика за все время
  </div>
  <div class="stat-body">
    <span><mat-icon>restaurant</mat-icon>Съедено: {{allTimeCount}}кКал.</span>
    <span><mat-icon>fitness_center</mat-icon>Сожжено: {{allTimeBurn}}кКал.</span>
  </div>
</div>
