<header class="header">
  <div class="header-container">
    <div class="header-body">
      <div class="header-left-side">
        <span class="title">Easy fit</span>
      </div>
      <div class="links" style="display: flex; justify-content: space-between">
        <span [routerLink]="''">Главная</span>
        <span [routerLink]="'test'" style="margin: 0 .5rem">Тестовая страница</span>
        <span [routerLink]="'statistics'">Статистика</span>
      </div>
      <div class="header-right-side">
        <div class="user">
        </div>
        <div class="sign-out">
          <span class="sign-out-text">Sign out</span>
          <mat-icon>logout</mat-icon>
        </div>
      </div>
    </div>
  </div>
</header>
