.header {
  width: 100%;
  height: 4rem;
  background-color: #151b26;

  color: #fff;

  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;

  .header-container {
    width: 100%;

    margin: 0 3rem;

    .header-body {
      display: flex;

      width: 100%;
      height: 100%;

      align-items: center;
      justify-content: space-between;

      .header-left-side {
        display: flex;

        align-items: center;

        .logo {
          display: flex;

          flex: 1;
          align-items: center;
        }

        .vertical-line {
          margin: 0 0.5rem;
        }

        .title {
          display: table-cell;
          vertical-align: middle;

          font-size: 1.2rem;
          line-height: 2rem;
        }
      }

      .header-right-side {
        display: flex;
        align-items: center;

        cursor: pointer;

        .loading-status {
          display: flex;
          align-items: center;

          .loading-progress {
            font-size: 1.2rem;
            font-weight: 500;

            color: #8d6fe4;
            margin-right: 0.5rem;
          }

          margin-right: 0.5rem;
        }
        .user {
          display: flex;
          align-items: center;

          margin-right: 1rem;
        }
        .sign-out {
          display: flex;
          align-items: center;

          .sign-out-text {
            font-size: 1.2rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
