<header class="header">
  <div class="header-container">
    <div class="header-body">
      <div class="header-left-side">
        <span class="title">Easy fit</span>
      </div>
      <div class="header-right-side">
        <div class="user">
          <!--<icon name="uim:angle-down" color="#fff" size="1.7rem"></icon>
          <icon name="uim:user-md" color="#fff" size="1.7rem"></icon>-->
        </div>
        <div class="sign-out">
          <span class="sign-out-text">Sign out</span>
          <!--<icon name="uim:signout" size="2rem" color="#fff"> </icon>-->
        </div>
      </div>
    </div>
  </div>
</header>
