@import "~@angular/material/theming";

:host {
  .food-tab {
    border: 2px solid mat-color($mat-deep-purple, 500);
    border-radius: .5rem;

    &-header {
      display: flex;
      align-items: center;

      padding: 0 2rem;

      height: 3rem;
      background-color: mat-color($mat-deep-purple, 500);

      span {
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .food-tab-body {
      padding: 1rem 2rem;

      .food-body-header {
        width: 100%;

        .choose-body {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 685px) {
            display: grid !important;

            grid-template-columns: 100%;

            mat-form-field {
              width: 100% !important;
            }
          }
        }

        .main-control {
          display: flex;
          justify-content: space-between;

          button:nth-child(1) {
            width: 23rem;
          }

          @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column-reverse;

            button {
              width: 100% !important;
            }
            button:nth-child(2) {
              margin-bottom: 1rem;
            }
          }
        }
      }
      .table-wrapper {
        margin-top: 1.5rem;

        .table {
          width: 100%;
          background-color: #f4f4f4;

          th {
            width: 25%;
            font-size: 1rem;
            font-weight: 500;

            color: black;
            transition: .5s ease-in-out;
          }

          td,th {
            padding: 0 1rem;
            vertical-align: center;
          }

          th {
            color: white;
            vertical-align: center;
            background-color: mat-color($mat-deep-purple, 500);
          }

          th:not(:last-child),
          td:not(:last-child) {
          }

          &-row:not(th) {
            transition: .5s ease-in-out;
          }
          &-row:hover {
            cursor: pointer;
            transition: .5s ease-in-out;
            background-color: mat-color($mat-deep-purple, 500);
          }
        }
      }

      @media screen and (max-width: 600px) {
        padding: 1rem !important;
      }
    }
  }
}
