@import "~@angular/material/theming";

:host {
  .daily-form {
    border: 2px solid mat-color($mat-deep-purple, 500);
    border-radius: .5rem;

    &-header {
      display: flex;
      align-items: center;

      justify-content: space-between;

      padding: 0 2rem;

      height: 3rem;
      background-color: mat-color($mat-deep-purple, 500);

      span {
        font-size: 1.2rem;
        font-weight: 500;
        color: white;
      }
    }

    &-body {
      display: grid;

      padding: 1rem;
    }
  }
}
