<form
  [formGroup]="dailyRationForm"
  (ngSubmit)="onFormSubmit()"
  class="daily-form"
>
  <div class="daily-form-header">
    <span>Расчет суточной нормы</span>
  </div>
  <div class="daily-form-body">
    <mat-form-field appearance="outline">
      <mat-label>Пол</mat-label>
      <mat-select formControlName="gender" placeholder="">
        <mat-option [value]="0">Муж</mat-option>
        <mat-option [value]="1">Жен</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Рост</mat-label>
      <input formControlName="height" type="number" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Вес</mat-label>
      <input formControlName="weight" type="number" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Возраст</mat-label>
      <input formControlName="age" type="number" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Степень физической активности</mat-label>
      <mat-select formControlName="activity" placeholder="">
        <mat-option [value]="0">естественный обмен</mat-option>
        <mat-option [value]="1">нет физической нагрузки</mat-option>
        <mat-option [value]="2">спорт 1-3 раза в неделю</mat-option>
        <mat-option [value]="3">спорт 4-5 раз в неделю</mat-option>
        <mat-option [value]="4">ежедневные занятия спортом</mat-option>
        <mat-option [value]="5"
        >физический труд и ежедневные занятия спортом</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Принять</button>
  </div>
</form>
